* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  max-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: hsl(0, 0%, 98%);
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

body .first-block {
 padding-top: 80px ;
  display: flex;
  flex-direction: column;

  text-align: center;
}

.first-block span {
  font-weight: 600;
}

.heading-one {
  font-size: 36px;
  font-weight: 200;
  letter-spacing: 0.25px;
  color: #4d4f62;
}

.main-paragraph {
  text-align: center;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 0.1px;
  color: #4d4f62;
}

 

.second-block {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 15px;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

.card-one {
  border-top: 4px solid #00c8c8;
  width: 350px;
  height: 250px;
  background-color: #ffffff;
  padding: 32px;
  border-radius: 4px;
  box-shadow: 0 0.8px 0.8px 0.8px #dadae5;
}

.second-block .card-one {
  grid-row: 1 / span 2;
}

.card-one .img1 {
  content: url(images/icon-supervisor.svg);
  width: 64px;
  margin-left: 230px;
  margin-top: 50px;
}

.supervisor {
  color: #474f62;
  font-size: 20px;
  font-weight: 700;
}

.monitors {
  color: #4d4f62;
  font-size: 13px;
  font-weight: 200;
  line-height: 1.5;
  margin: 6px;
}

.card-two {
  border-top: 4px solid #ff637b;
  width: 350px;
  height: 250px;
  background-color: #ffffff;
  padding: 32px;
  border-radius: 4px;
  box-shadow: 0 0.8px 0.8px 0.8px #dadae5;
}

.card-two {
  grid-column-start: -3;
}

.card-two .img2 {
  content: url(images/icon-team-builder.svg);
  width: 64px;
  margin-left: 230px;
  margin-top: 50px;
}

.team {
  color: #474f62;
  font-size: 20px;
  font-weight: 700;
}

.scans {
  color: #4d4f62;
  font-size: 13px;
  font-weight: 200;
  line-height: 1.5;
  margin: 6px;
}

/*.block3 img {
  grid-area: imagem1;
  padding: 154px 32px 32px 256px;
}*/

.card-three {
  border-top: 4px solid #ff9100;
  width: 350px;
  height: 250px;
  background-color: #ffffff;
  padding: 32px;
  border-radius: 4px;
  box-shadow: 0 0.8px 0.8px 0.8px #dadae5;
}

.card-three {
  grid-row-start: 2;
}

.card-three .img3 {
  content: url(images/icon-karma.svg);
  width: 64px;
  margin-left: 230px;
  margin-top: 50px;
}

.karma {
  color: #474f62;
  font-size: 20px;
  font-weight: 700;
}

.regularly {
  color: #4d4f62;
  font-size: 13px;
  font-weight: 200;
  line-height: 1.5;
  margin: 6px;
}

.card-four {
  border-top: 4px solid #377fd2;
  width: 350px;
  height: 250px;
  background-color: #ffffff;
  padding: 32px;
  border-radius: 4px;
  box-shadow: 0 0.8px 0.8px 0.8px #dadae5;
}

.card-four {
  grid-row: 1 / 3;
}

.card-four .img4 {
  content: url(images/icon-calculator.svg);
  width: 64px;
  margin-left: 230px;
  margin-top: 50px;
}

.calculator {
  color: #474f62;
  font-size: 20px;
  font-weight: 700;
}

.uses {
  color: #4d4f62;
  font-size: 13px;
  font-weight: 200;
  line-height: 1.5;
  margin: 6px;
}

.card-footer {
  margin-top: 78px;
}

@media only screen and (max-width: 768px) {
  .first-block {
    margin: 50px 32px 50px 32px;
    
  }

  body .first-block {
    padding: 0;
  }

  

  .heading-one {
    font-size: 24px;
  }

  .main-paragraph {
     
    margin-top: 16px;
     
  }

  .second-block {
    display: flex;
    flex-direction: column;
    gap: 25px;
     
    height: 1360px;
    
  }

  .second-block .card-one .card-two .card-three .card-four {
    width: 311px;
  }

   
   
}
